<!-- user -->
<div class="profile flex-grow">
  <h2 class="profile__title">Profile Settings</h2>
  <!-- profile settings -->
  <form class="profile__form" [formGroup]="form" (ngSubmit)="submitUserForm()" autocomplete="off">
    <div class="profile__form-photo">
      <!-- photo of user-->
      <img class="photo-user" src="{{user?.photoURL}}" alt="photo" *ngIf="user?.photoURL;else notuser" >
      <ng-template #notuser>
        <div class="photo-user">
        </div>
      </ng-template>
      <!-- links -->
      <div class="photo-buttons-block">
        <label for="update" class="update-label">Upload</label>
        <input id="update" class="update-photo" type="file" (change)="changeAvatar($event)" />
        <input class="delete-photo" type="button" value="Delete" (click)="deleteAvatar()" />
      </div>
    </div>
    <!-- inputs -->
    <div class="profile__form-data">
      <!-- name -->
      <div class="form-block">
        <span class="form-block__name">Name</span>
        <input class="form-block__input" formControlName="name" type="text" name="name" [ngClass]="{'error-input':form.get('name').invalid && form.get('name').touched}">
      </div>
      <!-- Last Name -->
      <!--<div class="form-block">-->
        <!--<span class="form-block__name">Last Name</span>-->
        <!--<input class="form-block__input" type="text" name="lastName" />-->
      <!--</div>-->
      <!--&lt;!&ndash; Username &ndash;&gt;-->
      <!--<div class="form-block">-->
        <!--<span class="form-block__name">User name</span>-->
        <!--<input class="form-block__input" type="text" name="username" />-->
      <!--</div>-->
      <!--&lt;!&ndash; Email &ndash;&gt;-->
      <!--<div class="form-block">-->
        <!--<span class="form-block__name">Email</span>-->
        <!--<input class="form-block__input" type="text" name="Email" />-->
      <!--</div>-->
      <!--&lt;!&ndash; location &ndash;&gt;-->
      <!--<div class="form-block">-->
        <!--<span class="form-block__name">Location</span>-->
        <!--<input class="form-block__input" type="text" name="location" />-->
      <!--</div>-->
      <!--&lt;!&ndash; Old password &ndash;&gt;-->
      <!--<div class="form-block">-->
        <!--<span class="form-block__name">Old password</span>-->
        <!--<input class="form-block__input" type="text" name="oldPassword" />-->
      <!--</div>-->
      <!--&lt;!&ndash; Password &ndash;&gt;-->
      <!--<div class="form-block">-->
        <!--<span class="form-block__name">Password</span>-->
        <!--<input class="form-block__input" type="text" name="password" />-->
      <!--</div>-->
      <!-- buttons -->
      <div class="form-buttons-block">
        <button type="submit" class="save-button" [disabled]="form?.invalid">Save</button>
        <div class="form-buttons-block__drop" appShow>
          <button class="delete-account">Delete Your Account</button>
          <div class="confirmation">
            <span class="confirmation__title">Are you sure?</span>
            <div class="confirmation__buttons">
              <button class="confirmation__buttons-item" (click)="deleteUser(true)">yes</button>
              <button class="confirmation__buttons-item" (click)="deleteUser(false)">no</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
