<!-- user -->
<div class="profile flex-grow">
  <h2 class="profile__title">Profile Settings</h2>
  <!-- profile settings -->
  <form class="profile__form">
    <div class="profile__form-photo">
      <!-- photo of user-->
      <div class="photo-user">
      </div>
      <!-- links -->
      <div class="photo-buttons-block">
        <label for="update" class="update-label">Upload</label>
        <input id="update" class="update-photo" type="file" />
        <input class="delete-photo" type="button" value="Delete" />
      </div>
    </div>
    <!-- inputs -->
    <div class="profile__form-data">
      <!-- name -->
      <div class="form-block">
        <span class="form-block__name">Name</span>
        <input class="form-block__input" type="text" name="name">
      </div>
      <!-- Last Name -->
      <div class="form-block">
        <span class="form-block__name">Last Name</span>
        <input class="form-block__input" type="text" name="lastName" />
      </div>
      <!-- Username -->
      <div class="form-block">
        <span class="form-block__name">User name</span>
        <input class="form-block__input" type="text" name="username" />
      </div>
      <!-- Email -->
      <div class="form-block">
        <span class="form-block__name">Email</span>
        <input class="form-block__input" type="text" name="Email" />
      </div>
      <!-- location -->
      <div class="form-block">
        <span class="form-block__name">Location</span>
        <input class="form-block__input" type="text" name="location" />
      </div>
      <!-- Old password -->
      <div class="form-block">
        <span class="form-block__name">Old password</span>
        <input class="form-block__input" type="text" name="oldPassword" />
      </div>
      <!-- Password -->
      <div class="form-block">
        <span class="form-block__name">Password</span>
        <input class="form-block__input" type="text" name="password" />
      </div>
      <!-- buttons -->
      <div class="form-buttons-block">
        <button class="save-button">Save</button>
        <button class="delete-account">Delete Your Account</button>
      </div>
    </div>
  </form>
</div>
