<!-- list -->
<div class="home-page">
  <!-- loader -->
  <div class="loader" [ngClass]="{'loader--none':isLoader}">
    <div class="loader__item"></div>
  </div>
  <h2 class="title-page">{{title}}</h2>
  <!-- block of tracks -->
  <div class="home-page__tracks">
    <div class="tracks">
      <!-- track -->
      <div class="tracks__item animate-none" appAnimateContent *ngFor="let album of topListAlbum;" >
        <img class="tracks__item-song" src="{{album?.image[3]['#text']}}" alt="{{album?.name}}">
        <div class="tracks__item-bottom">
          <div class="tracks__item-bottom-content">
            <!-- artist name and track name -->
            <div class="tracks__item-bottom-content-title">
              <div>{{album?.artist.name}}</div>
              <div>{{album?.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
