.language{
  &__item{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    &:hover {
      cursor: pointer;
      color: #E84F3C;
    }
  }
  &__item--arrow{
    &:before{
      content: '';
      position: absolute;
      right: -13px;
      top: 13px;
      width: 7px;
      height: 2.35px;
      background-color: #fff;
      -webkit-transform: rotate(-42deg);
      transform: rotate(-42deg);
    }
    &:after{
      content: '';
      position: absolute;
      right: -10px;
      top: 13px;
      width: 7px;
      height: 2.35px;
      background-color: #fff;
      transform: rotate(42deg);
    }
    &:hover{
      cursor: pointer;
      color: #E84F3C;
      &:before{
        cursor: pointer;
        background-color: #E84F3C;
      }
      &:after{
        cursor: pointer;
        background-color: #E84F3C;
      }
    }
  }
  &__list{
    position: absolute;
    z-index: 3;
    top: 43px;
    left: -4px;
    width: 65px;
    max-height: 0;
    padding: 13px;
    background-color: #282828;
    transition: max-height .5s;
    opacity: 0;
    visibility: hidden;
  }
}

.open{
  .dropdown{
    max-height: 500px;
    visibility: visible;
    transition: max-height 1s, opacity .1s ;
    opacity: 1;
  }
}

@media (max-width: 1200px) {

  .language{
    &__item--arrow{
      &:before{
        right: -20px;
      }
      &:after{
        right: -15px;
      }
    }
  }

}

@media (max-width: 968px) {

  .language{
    max-width: 40px;
    width: 100%;
    text-align: right;
  }

}
